<div class="page-header">
    <h1 class="text-center text-primary">Playing videos with MPEG-DASH and Angular</h1>
</div>

<div class="container">
    <div class="panel-group panel-primary">
        <div class="panel panel-info">
            <div class="panel-heading">Player</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8">
                        <app-video-component></app-video-component>
                    </div>
                    <div class="col-md-4">
                        <app-list-component></app-list-component>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <p class="small text-muted text-right">Robert Ene</p>
        </div>
    </div>
</div>
